# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

data/music
bin/
bin/*
data/music.zip
data/music_.zip
data/music*
data/music/new_music
data/music/default
data/music/music

.idea/
.vscode/
config/allowed_ninjas.txt
config/my_public_ip.txt

build/
build/*

# Just in case not using build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
.cmake/
compile_commands.json
ParchisGame
Parchis
